@model ProyectoFinal.Models.INVCONTEO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>INVCONTEO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CANTIDAD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CANTIDAD)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
